* {
    
    margin: 0;
    
}

body {
    background: #fff;
    padding-top: 20px;

}

#logo__igreja {
    position: absolute;
    top: 3%;
    left: 1%;
    width: 3%;
    border-radius: 15px;
  
}

#texto__principal   {
    display: inline;
    position: absolute;
    color: #232222;
    left: 85px;
    font-size: 2em;
    top: 4%;   
}

img#logo__youtube {
    display: inline;
    position: absolute;
    width: 2%;
    right: 10%;
    border-radius: 50px;
    margin-top: 10px;   
}

img#logo__instagram {
    display: inline;
    position: absolute;
    width: 2%;
    right: 6%;
    border-radius: 50px;
    margin-top: 10px;   
}

img#logo__facebook {
    display: inline;
    position: absolute;
    width: 2%;
    right: 2%;
    border-radius: 50px;
    margin-top: 10px;
}

#banner {
    width: 100%;
    padding-top: 70px;
    height: 32rem;

}

main p {
    padding: 35px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
}

.valores  {
    color: #000;
    font-size: 16px;
    font-family: Montserrat , sans-serif;
    padding: 35px 0 15px 0;
    margin-left: 10px;
   
}

.valores h4 {
    padding: 5px;
    letter-spacing: 2px;
   
}

.mapa h3 {
    color: #000;
    text-align: center;
    font-family: Montserrat , sans-serif;
    letter-spacing: 2px;
    margin-top: 30px;
    margin: 6px;
    font-size: 25px;
    padding: 15px;
}

footer {
    text-align: center;
    background: url("");
    padding: 40px 0;
}

footer img{
    border-radius: 50%;
    width: 5%;
}

.copyright {
    color: #000;
    font-size: 10px;
    margin: 30px 0 0;
    text-transform: uppercase;
    
}
